@keyframes moveIn {
	0% {
		transform: translate3d(0, -10%, 0);
	}

	100% {
		transform: translate3d(auto, 0, auto);
	}
}

@keyframes moveOut {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, -10%, 0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@media only screen and (max-width: 900px) {
	.guitar .pic {
		width: 90vw !important;
	}

	.acoustic .title {
		font-size: calc(1.6vw + 1.6vh) !important;
	}

}

.acoustic, .acoustic.off {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto min-content;
	grid-template-areas: 
	"title"
	"pic" 
	"info";
	height: max-content;
	width: 97%;
	height: 95%;
	animation: fadeIn 0.5s ease-in-out, moveIn 0.5s ease-in-out forwards;
	transition: all 0.3s ease;
	background-color: white;
	border: calc(0.08vw + 0.08vh) solid rgb(0, 0, 0);
    border-radius: 1vw;
	box-shadow: 0px calc(0.4vw + 0.4vh) black;
	align-self: flex-start;
}

.acoustic.off {
	animation: fadeOut 0.5s ease-in-out forwards, moveOut 0.5s ease-in-out forwards;
}

.acoustic .title {
	text-align: center;
	grid-area: title;
	justify-content: center;
    border-radius: 0.8vw 0.8vw 0 0;
    background-color: white;
    filter: invert(100%);
    width: 100%;
    box-sizing: border-box;
    margin: 0px 0px;
    padding: calc(0.4vw + 0.4vh) 0px calc(0.25vw + 0.25vh) 0px;
    border-bottom: calc(0.3vw + 0.3vh) double rgb(0, 0, 0);
    font-weight: 600;
    font-size: calc(1.3vw + 1.3vh);
	text-transform: uppercase;
}

.acoustic .guitar{
	display: flex;
	position: relative;
	grid-area: pic;
	left: 20px;
	animation: fadeIn 0.5s ease-in-out 0.5s forwards;
	transition: all 0.3s ease;
	justify-items: center;
	place-self: center;
	height: min-content;
	width: min-content;
}

.body-desc {
	display:flex;
	height: min-content;
	width: 100%;
	border-top: calc(0.08vw + 0.08vh) solid rgb(0, 0, 0);
	place-self: center;
	place-content: center;
	grid-area: info;
	font-size: calc(1.5vh + 0.3vw);
	transition: all 0.3s ease-in-out;
	text-align: center;
	line-height: 150%;
	box-sizing:border-box;
	z-index: 3;
}

.body-desc p {
	place-self: center;
	max-width: 95%;
}

.body-desc b{
	font-weight: 700;
}

.guitar .pic {
	width: calc(40vh + 40vw);
	object-fit:cover;
	position: relative;
	filter: drop-shadow(7.7px 7.7px 5px #2c2b2c65)
		drop-shadow(13.5px 13.5px 13px #2c2b2c38)
		drop-shadow(23.3px 23.3px 19.9px #2c2b2c17);
}

.guitar .select {
	display: flex;
	position: absolute;
	align-self: center;
	border: calc(0.08vw + 0.08vh) dashed rgba(0, 0, 0);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border-radius: 1vw;
	opacity: 0;
	scale: 1.1;
	margin-top: -1.2%;
}

.guitar .select.body {
	height: 78%;
	width: 46.5%;
	right: 53.5%;
}

.guitar .select.neck {
	height: 13%;
	width: 40.5%;
	right: 23%;
}

.guitar .select.headstock {
	height: 23%;
	width: 15%;
	right: 8%;
}

.guitar .selected {
	scale: 1;
	opacity: 1;
	border: calc(0.11vw + 0.11vh) solid rgba(0, 0, 0, 0.87);
}

.guitar .select.body:hover, .select.neck:hover, .select.select.headstock:hover {
	opacity: 1;
	scale: 1;
}
