html, body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior:smooth;
	max-width: 100%;
    overflow-x: hidden;
	overflow-y: hidden;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
	overflow: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 900px) {
	#root {
		margin: 0px 20px !important;
	}

	html, body {
		overflow-y: visible !important;
	}

}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px 35px;
    font-family: Rubik;
	user-select: none;
	justify-items: center;
	overflow-x: none;
}

.background {
	position:absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
}

#particles {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -10;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}
