@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes moveOut {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, -10%, 0);
	}
}

@media only screen and (max-width: 800px) {
	#structure {
		grid-template-columns: 90vw !important;
		grid-template-rows: 70vh 30vh !important;
		max-height: 100vh !important;
	}

	.guitar {
		grid-row: 1 !important;
		grid-column: 1 !important;
		height: 100% !important;
		width: 100% !important;
		box-sizing: border-box !important;
		object-fit:scale-down !important;
	}

	.info {
		text-align: center;
		grid-row: 2 !important;
		grid-column: 1 !important;
		align-self: flex-start !important;
	}

	.info h1 {
		margin: 0 !important;
	}

	.info p {
		margin-left: auto;
		margin-right: auto;
	}

}

#structure {
    display: grid;
	grid-template-columns: repeat(2, 47vw);
	height: 100vh;
	box-sizing: border-box;
	flex-direction: row;
}

img:not(img[id="arrL disabled"], img[id="arrR disabled"]) {
	opacity: 0;
	animation: fadeIn ease-in-out 0.4s forwards;
}


#arrL, #arrR, img[id="arrL disabled"], img[id="arrR disabled"] {
	position: absolute;
	width: 30px;
	grid-row: 1;
	align-self: center;
	padding: 0px 10px;
	cursor: pointer;
	transition: width ease-in-out 0.1s;
	z-index: 5;
}

#arrL:hover, #arrR:hover {
	width: 40px;
}

#arrL, img[id="arrL disabled"] {
	grid-column: 1;
}

#arrR, img[id="arrR disabled"] {
	grid-column: 2;
	justify-self: flex-end;
}

img[id="arrL disabled"], img[id="arrR disabled"] {
	opacity: 30%;
	cursor: unset;
}

#structure .guitar {
	display: flex;
	grid-row: 1;
	justify-self: flex-end;
	align-self: center;
	height: 85vh;
	width: 80%;
	object-fit: cover;
	box-sizing: border-box;
	grid-column: 1;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
}

.info {
	align-self: center;
	color: white;
	white-space: pre-wrap;
}

.info h1 {
	font-size: calc(2.5vh + 2.5vw);
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.37);
	text-transform:uppercase;
}

.info p {
	width: 80%;
	box-sizing: content-box;
	font-size: calc(1vh + 1vw);
	font-weight: 100;
}