@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes moveOut {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, -10%, 0);
	}
}

@media only screen and (max-width: 900px) {
	#construction, div[id="construction off"] {
		grid-template-columns: 100% !important;
		grid-template-rows: 100% !important;
	}

	.arrow-left, .arrow-right {
		display: none !important;
	}
}


#construction, div[id="construction off"] {
    display: grid;
    place-items: center;
	place-content: center;
    grid-template-columns: auto 90vw auto;
    grid-template-rows: 100%;
	height: 100%;
	box-sizing: border-box;
	width: 100%;
}

div[id="construction off"] {
	animation: fadeOut 0.5s ease-in-out forwards, moveOut 0.5s ease-in-out forwards;
}

.arrow-left, .arrow-right {
	display: flex;
    position: relative;
	justify-self: center;
    width: 100%;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    animation: fadeIn 0.3s ease-in-out;
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.arrow-left img {
    height: calc(1.3vw + 1.3vh);
    transform: rotate(90deg);
}

.arrow-right img {
    height: calc(1.3vw + 1.3vh);
    transform: rotate(-90deg);
}