@media only screen and (max-width: 600px) {
	.txt1, .txt2 {
		justify-items: center !important;
		text-align: center !important;
		justify-self: center !important;
		left: auto !important;
		right: auto !important;
		font-size: calc(3vw + 4vh - 5px) !important;
	}

	.txt1 {
		top: 0 !important;
	}
}

@media only screen and (max-width: 900px) {
	#home, div[id='home off'] {
		width: calc(100vw - 40px) !important;
		padding: 0px 20px;
		place-items: center;
	}

	.images img{
		height: calc(8vw + 10vh - 5px) !important;
		margin: 0px min(-80px, -13vh) !important;
	}
}

@keyframes moveDown {
	0% {
		transform: rotate(-90deg) translateX(20%);
	}

	100% {
		transform: rotate(-90deg) translateX(0%);
	}
}

@keyframes moveUp {
	0% {
		transform: rotate(-90deg) translateX(-20%);
	}

	100% {
		transform: rotate(-90deg) translateX(0%);
	}
}

@keyframes moveIn {
	0% {
		transform: translate3d(0, -10%, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveOut {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, -10%, 0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#home, div[id='home off'] {
	width: 94%;
	box-sizing: border-box;
	display: flex;
	place-content: center;
	justify-self: center;
	height: calc(100vh - 74px);
	animation: moveIn 0.5s ease-in-out forwards;
	transition: opacity	0.5s ease-in-out;
}

div[id='home off']{
	animation: fadeOut 0.5s ease-in-out forwards, moveOut 0.5s ease-in-out forwards;
}

.images {
	display: grid;
	grid-template-areas:
	". . image3"
	". image2 ."
	"image1 . .";
	place-content: center;
	grid-template-rows: repeat(3, calc(4vw + 3vh + 10px));
	grid-template-columns: repeat(3, max-content);
	margin-top: -100px;
}

.images img {
	display: flex;
	height: 19vh;
	transform: rotate(-90deg);
	min-height: 50px;
	margin: 0px min(-80px, -14vh);
	opacity: 0;
}

.img1 > img {
	animation: forwards moveDown 0.5s ease-in-out,
		forwards fadeIn 0.5s ease-in-out;
	animation-delay: 0.8s;
}

.img2 > img {
	animation: forwards fadeIn 0.5s ease-in-out;
	animation-delay: 0.8s;
}

.img3 > img {
	animation: forwards moveUp 0.5s ease-in-out,
		forwards fadeIn 0.5s ease-in-out;
	animation-delay: 0.8s;
}

.img1 {
	display: flex;
	place-content: center;
	grid-area: image1;
	filter: drop-shadow(7.7px 7.7px 5px #2c2b2c65)
		drop-shadow(13.5px 13.5px 13px #2c2b2c38)
		drop-shadow(23.3px 23.3px 19.9px #2c2b2c17);
}

.img2 {
	display: flex;
	place-content: center;
	grid-area: image2;
	filter: drop-shadow(7.7px 7.7px 5px #2c2b2c65)
		drop-shadow(13.5px 13.5px 13px #2c2b2c38)
		drop-shadow(23.3px 23.3px 19.9px #2c2b2c17);
}

.img3 {
	display: flex;
	place-content: center;
	grid-area: image3;
	filter: drop-shadow(7.7px 7.7px 5px #2c2b2c65)
		drop-shadow(13.5px 13.5px 13px #2c2b2c38)
		drop-shadow(23.3px 23.3px 19.9px #2c2b2c17);
}

.txt1 {
	display: grid;
	position: absolute;
	height: max-content;
	text-align: right;
	font-size: calc(4vw + 4vh - 15px);
	font-weight: 300;
	left: 0;
	top: -15px;
	align-self: center;
	z-index: -10;
	margin: 0;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.1s forwards;
}

.txt2 {
	display: grid;
	position: absolute;
	height: max-content;
	text-align: right;
	font-size: calc(4vw + 4vh - 15px);
	font-weight: 300;
	right: 0;
	bottom: 57px;
	align-self: center;
	z-index: -10;
	margin: 0;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.2s forwards;
}

.txt1 b,
.txt2 b {
	border: calc(0.2vw + 0.2vh) solid black;
	border-radius: calc(0.8vw + 0.8vh);
	box-shadow: calc(0.3vw + 0.3vh) calc(0.4vw + 0.4vh) black;
	background-color: white;
	padding: 0px calc(0.5vh + 0.5vw) 2px calc(0.5vh + 0.5vw);
	width: fit-content;
	font-weight: 400;
}