@media only screen and (max-width: 600px) {
	.txt1, .txt2 {
		justify-items: center !important;
		text-align: center !important;
		justify-self: center !important;
		left: auto !important;
		right: auto !important;
		font-size: calc(3vw + 4vh - 5px) !important;
	}

	.txt1 {
		top: 0 !important;
	}
}

@media only screen and (max-width: 900px) {
	.images img{
		height: calc(8vw + 10vh - 5px) !important;
		margin: 0px min(-80px, -13vh) !important;
	}
}

@keyframes moveDown {
	0% {
		transform: rotate(-90deg) translateX(40%);
	}

	100% {
		transform: rotate(-90deg) translateX(15%);
	}
}

@keyframes moveUp {
	0% {
		transform: rotate(-90deg) translateX(-40%);
	}

	100% {
		transform: rotate(-90deg) translateX(-15%);
	}
}

@keyframes moveIn {
	0% {
		transform: translate3d(0, -10%, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveOut {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(0, -10%, 0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#home, div[id='home off'] {
	width: 94%;
	position: relative;
	box-sizing: border-box;
	display: flex;
	place-content: center;
	place-self: center;
	height: 100%;
	animation: moveIn 0.5s ease-in-out forwards;
	transition: opacity	0.5s ease-in-out;
}

div[id='home off']{
	animation: fadeOut 0.5s ease-in-out forwards, moveOut 0.5s ease-in-out forwards;
}

.images {
	height: 100%;
	display: grid;
	position: absolute;
	place-content: center;
	grid-template-rows: min-content;
	grid-template-columns: min-content min-content min-content;
}

.images img {
	display: flex;
	height: 19vh;
	transform: rotate(-90deg);
	min-height: 50px;
	margin: 0px min(-80px, -14vh);
	opacity: 0;
	filter: drop-shadow(-7.7px 7.7px 5px #2c2b2c65)
	drop-shadow(-13.5px 13.5px 13px #2c2b2c38)
	drop-shadow(-23.3px 23.3px 19.9px #2c2b2c17);
}

.g-ac {
	animation: forwards moveUp 0.5s ease-in-out,
	forwards fadeIn 0.5s ease-in-out;
animation-delay: 0.8s;
	height: min-content;
	display: flex;
	place-content: center;
	grid-column: 1;
}

.g-cl {
	animation: forwards fadeIn 0.5s ease-in-out;
	animation-delay: 0.8s;
	display: flex;
	place-content: center;
	grid-column: 2;
}

.g-el {
	animation: forwards moveDown 0.5s ease-in-out,
	forwards fadeIn 0.5s ease-in-out;
animation-delay: 0.8s;
	display: flex;
	place-content: center;
	grid-column: 3;
}

.txt1, .txt2 {
	display: grid;
	position: absolute;
	height: min-content;
	align-self: center;
	font-weight: 300;
	font-size: calc(3vw + 3vh);
	font-family: Rubik, sans-serif;
	text-transform: uppercase;
	margin: 0;
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.1s forwards;
	z-index: -10;
}

.txt1 {
	left: 0;
	top: -15px;
}

.txt2 {
	right: 0;
	bottom: 37px;
	text-align: right;
}

.txt1 b,
.txt2 b {
	width: fit-content;
	font-weight: 800;
	font-size: calc(3.2vw + 3.2vh);
}