#top {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: repeat(3, 31vw);
    place-items: center;
    color: white;
}

.beginner, .friends, .overall {
    display: grid;
    width: 95%;
    box-sizing: border-box;
    grid-template-rows: min-content min-content auto;
    place-items: center;
    text-align: center;
}

#top h1 {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.26));
}

#top img {
    height: calc(13vh + 13vw);
}

#top p {
    font-weight: 100;
}